/* ตกแต่งกรอบค้นหา */
.input-group {
    max-width: 500px;
    margin: auto;
    border: 2px solid #007bff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* เงา */
    padding: 10px;
}

.logo {
    max-width: 200px; /* ปรับขนาดภาพโลโก้ให้พอดีกับที่ต้องการ */
    height: auto; /* รักษาอัตราส่วนของภาพ */
}

.card-title {
    font-size: 20px;
}

.card-title-2{
    font-size: 16px;
}

.form-control {
    border: none;
    box-shadow: none;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body .btn-group {
    align-self: flex-start;
}

/* Adjustments for pagination in mobile */
@media (max-width: 575px) {
    #pagination-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    #pagination-container .page-item {
        flex: 1 0 10%;
        max-width: 10%;
        text-align: center;
    }

    #pagination-container .page-link {
        padding: 0.5rem 0.75rem;
    }

    .card-img-top {
        height: auto;
        object-fit: cover;
    }
}

@media (min-width: 576px) {
    .col-md-4 {
        max-width: 25%; /* 4 columns on medium devices */
    }
}

@media (min-width: 768px) {
    .col-lg-3 {
        max-width: 20%; /* 5 columns on large devices */
    }
}

.btn-outline-secondary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
    background-color: #007bff; /* เปลี่ยนสีตามที่คุณต้องการ */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

#back-to-top i {
    margin: 0;
}

#back-to-top:hover {
    background-color: #0056b3; /* เปลี่ยนสีเมื่อ hover */
}
