/* ตกแต่งกรอบค้นหา */
.input-group {
    max-width: 500px;
    margin: auto;
    border: 2px solid #007bff;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* เงา */
    padding: 10px;
}

.form-control {
    border: none;
    box-shadow: none;
}

.btn-outline-secondary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.card-img-top {
    height: 200px;
    object-fit: contain;
}